body {
  background-image: url("../images/table_1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#home-content {
  margin: 0 auto;
  width: 1000px;
  margin-top: 140px;
}


#logo {
  float: left;
}

nav{
  color: cornsilk;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 50px;
  margin-left: 50%;
  }

nav ul li {
  text-align: center;
  display: inline-block;
  width: 24%;
}

.name {
  color: white;
  text-align: right;
  color: cornsilk;
}

h1 {
  font-size: 100px;
  font-family: 'Flamenco', cursive;
  }

h2 {
  font-style: italic;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

